/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 févr. 2016, 15:23:21
    Author     : Dragos
*/
header, section, footer, nav, article {
    display: block; 
    font-family: Cambria;
}

header {
    color: firebrick;
    text-align: center;    
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#headerleft {
    float: left;
    width: 76%;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo {
    float: left;
    width: 18%;
    margin-top: auto;
    margin-bottom: auto;
}

#titre {
    font-size: 27px;
    float: left;
    width: 82%;
    margin-top: auto;
    margin-bottom: auto;
}

#log-inBlock {
    float: left;
    width: 20%;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4%;
}

#loginFieldset {
    width: 20%;
    border: none;
    box-shadow: none;
    margin: 10px auto auto auto;
}

button {
    float:right;
}
p.formLogin {
    margin-top: 0;
    font-size: 20px;
    color: firebrick;
    font-weight: bold;
}
label.formElemLogin {
    display: block;
    font-size: 17px;
    color: darkcyan;
    text-align: right;
    float: left;
    width: 80px;
}
input.loginInput {
    width: 65px;
}
main {
    width: 70%;
    margin: 0 auto;
}

nav {
    float: left;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    text-align: center;
    color: darkcyan;
    font-size: 30px;
}

p.message {
    
    text-align: justify;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

fieldset {
    
    width: 260px;
    border: 2px solid darkred;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label.formElem {
    display: block;
    float: left;
    width: 80px;
}

#labelTest {
    display: inline;
    float: none;
}

input {
    float: right;
}

#nbUsers {
    float: none;
    width: 50px;
}

legend {
    font-size: 20px;
    color: firebrick;
}

section {
    float: left;
    width: 56%;
    margin-left: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    
    background-color: buttonhighlight;
    color: darkcyan;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
    cursor: pointer;
    background-color: highlight;
}

a.liste {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 10px;
}

a.menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#zoneAvance {

    width: 30%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

#previewButton {
    float: left;
    width: 55%;
}

#nextButton {
    float: left;
    margin-left: 5%;
    width: 40%;
}

article {
    margin-top: 100px;
    margin-bottom: 15px;
}

h4, h5 {
    text-align: center;
    font-size: 20px;
}
h4 {
    color: green;
}
h5 {
    color: red;
}
table {
    
    margin-left: auto;
    margin-right: auto;
    border: 2px brown solid;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#attributsTableau, #footerTableau {
    background-color: firebrick;
    color: bisque;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: navajowhite;
}

td {
    height: 20px;
    width: 180px;
    padding: 10px;
}

#contenuTableau:hover {
    background-color: darkcyan;
    color: beige;
    font-weight: bold;
}

#totalCell {
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0px;
    font-size: 10px;
}
