/* 
    Created on : 12 févr. 2016, 15:23:21
    Author     : Dragos
*/
#wrapper {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* 
    HEADER (ne change pas)
*/
header {
    color: firebrick;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#logo {vertical-align: middle;}
h1 {font-size: 4vw; margin: auto auto;}

#wrapper {
    width: 60%;
    height: 1200px;
    margin: 0 auto;
}
h2 {
    text-align: center;
    font-size: 1.7vw;
    color: #dc4747;
    
}
/*
    PAGE D'AUTHENTIFICATION
*/
#loginBlock, #formCreationBlock {
    width: 30%;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
    LOGIN
*/
.formElemLogin h3 {
    background-color: antiquewhite;
    color: firebrick;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    padding: 10px;
}
.formElemLogin input {
    display: block;
    width: 70%;
    font-size: 14px;
    padding: 10px;
    border: 1px darkgray solid;
    margin: 10px auto;
}
.formElemLogin button {
    display: block;
    width: 100%;
    height:45px;
    float: none;
    background-color: firebrick;
    color: blanchedalmond;
    font-size: 14px;
    font-weight: normal;
    padding: 14px;
    border: none;
    margin: 10px auto;
}
.formElemLogin button:hover {
    background-color: #dc4747;
    cursor: pointer;
}
/*
    CREER COMPTE
*/
.formElemBlock h3 {
    background-color: antiquewhite;
    color: darkcyan;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    padding: 10px;
}
.formElemBlock input {
    display: block;
    width: 70%;
    font-size: 14px;
    padding: 10px;
    border: 1px darkgray solid;
    margin: 10px auto;
}
.formElemBlock button {
    display: block;
    width: 100%;
    height:45px;
    background-color: darkcyan;
    color: blanchedalmond;
    font-size: 14px;
    font-weight: normal;
    padding: 14px;
    border: none;
    margin: 10px auto;
}
.formElemBlock button:hover {
    background-color: cadetblue;
    cursor: pointer;
}

/*
    BLOC DES FONCTIONNALITES
*/
aside {
    float: left;
    width: 35%;
    margin-top: 40px;
}
#functionalityBlock1, #functionalityBlock2, #functionalityBlock3, #functionalityBlock4 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#testblock {
    display: block;
    text-align: center;
}
#labelTest {
    display: inline;
    margin: 0 auto;
    float: none;
    font-size: 1.1vw;
}
#nbUsers {
    display: inline-block;
    width: 50px;
    padding: 5px;
}
.functionalityBlock p {
    text-align: center;
    font-size: 1.1vw;
    color: #dc4747;
}
.functionalityBlock h2 {
    background-color: antiquewhite;
    color: darkcyan;
    text-align: center;
    font-size: 1.2vw;
    padding: 5px;
}
.functionalityBlock input {
    display: block;
    width: 80%;
    font-size: 14px;
    padding: 5px;
    border: 1px darkgray solid;
    margin: 8px auto;
}
.functionalityBlock button {
    display: block;
    width: 83%;
    height: 50px;
    background-color: darkcyan;
    color: blanchedalmond;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    border: none;
    margin: 20px auto 0 auto;
}
.functionalityBlock button:hover {
    background-color: cadetblue;
    cursor: pointer;
}


/*
    BLOC TABLEAU USERS
*/
section {
    float: left;
    width: 61%;
    margin-top: 40px;
    margin-left: 4%;
}

a.liste {
    background-color: buttonhighlight;
    color: darkcyan;
    font-size: 1.1vw;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.liste:hover {
    cursor: pointer;
    background-color: highlight;
}

nav {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#previewBlock, #previewBlockBlank {
    float: left;
    width: 25%;
    height: 50px;
    text-align: center;
    margin-left: 24.8%;
    margin-right: 0.2%;
}
#previewBlock {
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#previewBlockBlank {
    background-color: transparent;
}
#previewBlock:hover, #nextBlock:hover {
    background-color: cadetblue;
    cursor: pointer;
}
#nextBlock {
    float: left;
    width: 25%;
    height: 50px;
    text-align: center;
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 24.8%;
    margin-left: 0.2%;
}

#previewButton {
    display: block;
    color: antiquewhite;
    vertical-align: middle;
    text-decoration: none;
    line-height: 50px;
}

#nextButton {
    display: block;
    color: antiquewhite;
    vertical-align: middle;
    text-decoration: none;
    line-height: 50px;
}

h4, h5 {
    text-align: center;
    font-size: 20px;
}
h4 {
    color: green;
}
h5 {
    color: red;
}
table {
    width: 100%;
    border: 2px brown solid;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#attributsTableau, #footerTableau {
    background-color: firebrick;
    color: bisque;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}

td {
    height: 20px;
    width: 180px;
    padding: 10px;
}

#contenuTableau:hover {
    background-color: darkcyan;
    color: beige;
    font-weight: bold;
}

#totalCell {
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0px;
    font-size: 10px;
}
